#good {
    display: inline-block;
    color: #589f04;
}

#bad {
    display: inline-block;
    color: #ee0000;
}


#pie .arc text {
  font: 10px sans-serif;
  text-anchor: top;
}

#pie .arc path {
  stroke: #fff;
}

#current {
    font-size: 24px;
}

#pie path.slice{
	stroke-width:2px;
}

#pie polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
    font-size: 20px;
}

.smallText {
    font-size: 20px;
}