.searchThumb img {
    width: 100px;
    min-height:60px;
    margin-left:2.5%;
}

.modal-body .mention-sentiment {
    width: 20%;
}

.modal {
  overflow: hidden;
}

.modal-body {
  height: 65vh;
  overflow: auto;
}

.inputBar {
    font-size:12px;
}

.modal .mention {
    min-height: 20%;
}